@font-face{font-family:'Novecento';font-style:normal;font-weight:normal;src: url(../Fonts/Novecentowide-Medium-webfont.woff) format('woff')}
@font-face{font-family:'Novecento';font-weight:bold;src:url(../Fonts/Novecentowide-Bold-webfont.woff) format('woff')}
@font-face{font-family:'Novecento';font-weight:600;src:url(../Fonts/Novecentowide-DemiBold-webfont.woff) format('woff')}
@font-face{font-family:'Neuton';font-weight:normal;font-style:italic;src:url(../Fonts/Neuton-Italic-webfont.woff) format('woff')}

html {
    background: url("../Images/topImage.jpg") top center no-repeat #f6f6f6;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, serif;
}

body {
    background-color: transparent;
}
header {
    height: 500px;
    width: 900px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a, a:visited, a:link {
    color: #a1a1a1;
    font-weight: normal;
    font-size: 11px;
    text-decoration: underline;
}

a:hover {
    opacity: 0.8;
}

.header-text {
    text-align: center;
    font-family: Novecento, serif;
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 35px;
    color: #4D4D4D;
}

.header-text strong {
    font-size: 37px;
    line-height: 40px;
}

.header-text strong span {
    color: #b41c0f;
}

hr {
    margin: 35px  auto 15px auto;
    background: #4d4d4d;
    width: 240px;
    height: 1px;
    border: none;
}

.header-description {
    width: 58%;
    margin: 0 auto;
    color: #4D4D4D;
}

.header-description > h2 {
    font-family: 'Open Sans', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.header-description > img {
    display: block;
    margin: 10px auto;
}

main {
    width: 100%;
    max-width: 960px;
    margin: -54px auto 0 auto;
}

.title {
    background-color: #fff;
}

.title > h3 {
    font-family: Novecento, serif;
    font-size: 16px;
    color: #609bc7;
    height: 44px;
    padding: 16px 0 16px 20px;
    background: #fff;
    margin: 0;
    text-transform: uppercase;
}

.form {
    background: #E6E9ED;
    padding: 30px 30px 30px 35px;
    height: 100%;
    display: block;
    overflow: auto;
}

.form input[type="text"] {
    width: 260px;
    margin-right: 10px;
    margin-bottom: 30px;
    background: #fff;
    color: #4d4d4d;
    height: 40px;
    font-size: 14px;
    padding: 3px 0 0 15px;
    box-shadow: 1px 1px 4px #bbb inset;
    border: none;
}

.form button {
    padding: 0;
    border: none;
    margin: 0 auto;
    display: block;
}

input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus {
    border: none;
    outline: none;
}

input[type="checkbox"] {
    position: relative;
    left: -20px;
    top: 20px;
    border: 0;
    padding: 0;
}

#agreements {
    left: 0;
    top: 10px;
    display: block;
}

.agreement {
    color: #7b7b7b;
    font-family: 'Open Sans', Arial, serif;
    font-size: 11px;
}

.agreement-text {
    padding: 10px 20px 20px 40px;
}

footer {
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 120px;
    top: 40px;
}

footer img {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

footer .footer-text {
    color: #a1a1a1;
    font-size: 11px;
    line-height: 14px;
    margin-top: 20px;
}

footer a {
    position: absolute;
    right: 70px;
    top: 30px;
}



/* Media Queries */

@media(max-width: 959px) {
    html {
        background: #f6f6f6;
    }

    header, main, footer {
        width: 100%;
    }

    .form button {
        margin-top: 20px;
    }

    .flex-container {
        display: -moz-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        -webkit-flex-flow: column;
        -ms-flex-direction: column;
        flex-flow: column;
    }
    .flex-1 {
        -moz-box-ordinal-group: 1;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .flex-2 {
        -moz-box-ordinal-group: 2;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .flex-3 {
        -moz-box-ordinal-group:3;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }
}

@media (max-width: 640px) {
    .form input[type="text"] {
        margin: 0 auto;
        display: block;
    }

    .agreement-text {
        max-width: 260px;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 595px) {
    .header-text {
        font-size: 20px;
        line-height: 23px;
    }
    .header-text strong {
        font-size: 23px;
        line-height: 25px;
    }
    .header-description {
        width: 100%;
    }
    header {
        height: auto;
        padding-bottom: 70px;
    }
}
