@font-face{font-family:'Novecento';font-style:normal;font-weight:normal;src: url(../Fonts/Novecentowide-Medium-webfont.woff) format('woff')}
@font-face{font-family:'Novecento';font-weight:bold;src:url(../Fonts/Novecentowide-Bold-webfont.woff) format('woff')}
@font-face{font-family:'Novecento';font-weight:600;src:url(../Fonts/Novecentowide-DemiBold-webfont.woff) format('woff')}
@font-face{font-family:'Neuton';font-weight:normal;font-style:italic;src:url(../Fonts/Neuton-Italic-webfont.woff) format('woff')}



html {
    background: url("../Images/topImage.jpg") top center no-repeat;
}

body {
    background-color: transparent;
}
header {
    height: 500px;
    width: 900px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.header-text {
    text-align: center;
    font-family: Novecento;
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 35px;
    color: rgb(77,77,77);
}

.header-text strong {
    font-size: 37px;
    line-height: 40px;
}

.header-text strong span {
    color: #b41c0f;
}

hr {
    margin: 40px auto;
    background: #4d4d4d;
    width: 240px;
    height: 1px;
    border: none;
}

.header-description {
    width: 58%;
    margin: 0 auto;
}

h2 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    /*text-transform: uppercase;*/
}

h2 > img {
    display: block;
    margin: 10px auto;
}

